<launch>
        <arg name="laser_filter_lower_threshold" default='0.3' />
        <param name="/laser_filter/scan/lower_threshold" value="$(arg laser_filter_lower_threshold)"/>
        <node pkg="laser_filters" type="scan_to_scan_filter_chain" name="laser_filter" >
                <rosparam command="load" file="$(find laser_filters)/launch/laser_filter.yaml" />
        </node>
</launch>

