<launch>
    <arg name="intopic" default="/camera/color/image_raw" />
    <arg name="msgs_per_sec" default="5.0"/>
    <arg name="outtopic" default="/camera/color/image/republished_img/throttled" />
   
    <node name="image_throttler" type="throttle" pkg="topic_tools" 
        args="messages $(arg intopic) $(arg msgs_per_sec) $(arg outtopic)" required = "true"/>
</launch>
