

<launch> 
  
  
  <arg name="waypoints_file_name" default="square.yaml" />  
  
  <node name="path_publisher_node" pkg="path_publisher" type="path_publisher_node" output="screen" required="true">
		

		<rosparam param="waypoints" command="load" file="$(find path_publisher)/waypoints/$(arg waypoints_file_name)"  />

  </node>
	
	
</launch>